/* IvyOraText fonts */
@font-face {
  font-family: 'IvyOra';
  src: url('/assets/fonts/IvyOra/IvyOraDisplay-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IvyOra';
  src: url('/assets/fonts/IvyOra/IvyOraDisplay-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IvyOra';
  src: url('/assets/fonts/IvyOra/IvyOraDisplay-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IvyOra';
  src: url('/assets/fonts/IvyOra/IvyOraDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* The Seasons fonts - Regular, Bold and their Italics */
@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TheSeasons';
  src: url('/assets/fonts/theseasons/TheSeasons-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

