@import "./reset.scss";
@import "./variable.scss";
@import "./fonts.scss";



// $breakePoint: (
//   "xs": 768px,
//   "sm": (769px, 991px),
//   "md": (992px, 1199px),
//   "lg": (1200px, 1919px),
//   "xl": 1920px,
// );

// @mixin responseTo($breakName, $isNot: false){
//   $bp: map-get($breakePoint, $breakName);
//   @if type-of($bp) == "list"{
//     $min: nth($bp, 1);
//     $max: nth($bp, 2);
    
//     @if $isNot{
//       @media (min-width: $max) and (max-width: $min){
//         @content;
//       }
//     }@else{
//       @media (min-width: $min) and (max-width: $max){
//         @content;
//       }
//     }
   

//   }@else{
//     @if $breakName == "xl" {
//       @if $isNot{
//         @media (max-width: $bp) {
//           @content;
//         }
//       }@else{
//         @media (min-width: $bp) {
//           @content;
//         }
//       }
    
//     }@else{
//       @if $isNot{
//         @media (min-width: $bp) {
//           @content;
//         }
//       }@else{
//         @media (max-width: $bp) {
//           @content;
//         }
//       }
//     }
//   }
// }


#app {
  width: 100%;
  height: 100%;
}
html,
body {
  width: 100%;
  font-family: "TheSeasons";
  background-color: #fff;

  // 隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
  
  // 兼容 Firefox
  scrollbar-width: none;
  
  // 兼容 IE
  -ms-overflow-style: none;

  @include responseTo("lg"){
    min-width: 1200px;
  }
}



* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

}

a {
  text-decoration: none;
  color: inherit;
}
